<%= turbo_stream.remove "spinner" %>
<%= turbo_stream.append "posts" do %>
  <% @posts.each do |post| %>
    <%= render 'posts/card', post: %>
  <% end %>

  <% if @posts.page(@page.to_i + 1).out_of_range? %>
    <span class="is-hidden" data-pagination-target="noRecords"></span>
  <% end %>
<% end %>
