<nav class="pagination is-justify-content-center mt-6" data-pagination-target="pagination">
  <%= link_to_prev_page arr, 'Previous Page', class: 'pagination-previous' %>
  <%= link_to_next_page arr, 'Next Page', class: 'pagination-next' %>
</nav>
